{
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },

  "parser": "babel-eslint",

  "env": {
    "es6": true,
    "node": true
  },

  "plugins": [
    "react"
  ],

  "globals": {
    "document": false,
    "navigator": false,
    "window": false
  },

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "rules": {
    "indent": ["error", 2],
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "padding-line-between-statements": ["error", { "blankLine": "always", "prev": "*", "next": "return" }]
  }
}